

.summary > li {
  border: 0.1rem #c0c0c0 solid;
  margin: 2rem;
  border-radius: 0.5rem;
  flex: 1 1  20rem;
}

.summary-title{
  font-size: 2rem;
  padding: 1rem;
}

.summary-body{
  font-size: 4rem;
  padding: 1rem;
  text-align: center;
}

.summary-title.color1{
 background: #f0e0e0;
}

.summary-title.color2{
  background: #e0f0e0;
}


.summary-title.color3{
  background: #e0e0f0;
}
