  .align{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    // margin: auto;
  }

  
  
  .logoHeaderLemom{
    max-width: 25%;
    /* display: none; */
    
  }

  @media screen and (min-width: 768px) and  (max-width: 799.99px) {
    
    .divLogo{
      margin-right: -31rem;
    }
    
  }   

  @media screen and (min-width: 800px) and  (max-width: 1023.99px) {
    
    .divLogo{
      margin-right: -31rem;
    }
    
  }   


  @media screen and (min-width: 1112px) and  (max-width: 1380.99px) {
    
    .divLogo{
      margin-right: -16rem;
    }
    
  }   
   
    