

.pagination a {

  
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .pagination a.active {
    
    font-weight: bold;
    color: #9c9a9cfd;
  }
  